{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}
{% block header %}
  <h1>{% block title %}Ustawienia konta{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post" action="{{url_for('admin.index') }}" class="w-50 m-auto mt-5" enctype = "multipart/form-data">
    <h2>Dodaj nowy egzemplarz</h2>
  {{ add_type_form.csrf_token }}
  {{ add_type_form.common.parent_category }}
  {{ render_field(add_type_form.common.gun_name) }}
  {{ render_field(add_type_form.common.model) }}
  {{ render_field(add_type_form.common.quantity) }}
  {{ render_field(add_type_form.common.caliber) }}
  {{ render_field(add_type_form.common.image) }}
  <div class="row p-1">
    <div class="col-sm-4"></div>
    <button type="button" class="btn btn-secondary col-sm-8" data-bs-toggle="modal" data-bs-target="#categoryModal">Wybierz kategorię</button>
  </div>
    <div class="accordion accordion-flush pt-1" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#gun" aria-expanded="false" aria-controls="gun">
              Broń
          </button>
        </h2>
        <div id="gun" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
              {{ render_field(add_type_form.gun.price, required=False) }}
              {{ add_type_form.gun.submit(class="btn btn-primary mt-3 d-block m-auto") }}
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ammo" aria-expanded="false" aria-controls="ammo" >
              Amunicja
          </button>
        </h2>
        <div id="ammo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
              {{ render_field(add_type_form.ammo.rim_or_centerfire, required=False) }}
              {{ render_field(add_type_form.ammo.weight, required=False) }}
              {{ render_field(add_type_form.ammo.price, required=False) }}
              {{ add_type_form.ammo.submit(class="btn btn-primary mt-3 d-block m-auto") }}
          </div>
        </div>
      </div>
    </div>
</form>


<form method="post" action="{{ url_for('admin.add_cat') }}">
<div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="categoryModalLabel">Wybierz kategorię</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
        {% set fields = cycler(*cats.av_categories) %}
        {% for elem in tree recursive %}
        {% if elem is iterable %}
        <ul class="collapse {{ "show" if loop.previtem.show else ""}}" id="field{{loop.previtem.cat_id}}" >
        {{ loop(elem) }}
        </ul>
        {% else %}
          <li class="list-group-item">
                {% set field = fields.next() %}
                {{ field(class="form-check-input", data_bs_toggle="collapse", data_bs_target="#field" + elem.cat_id|string) }}
                {{ field.label(class="form-check-label") }}
          </li>
        {% endif %}
        {% endfor %}
        </ul>
        {{ render_field(cats.new_cat) }}
        {{ cats.csrf_token }}
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary">Dodaj kategorię</button>
        <button type="button" onclick="select()" class="btn btn-primary" data-bs-dismiss="modal">Wybierz</button>
      </div>
    </div>
  </div>
</div>
</form>

<script type="text/javascript">
    function select() {
        document.querySelector("#parent_cat").value = document.querySelector('input[name="av_categories"]:checked').value
    }
</script>
{% if cat %}
<script type="text/javascript">
  window.onload = () => {
  var categoryModal = new bootstrap.Modal(document.getElementById('categoryModal'), {
    keyboard: false
  });
  
  categoryModal.show();
}
</script>
{% endif %}
{% endblock %}
